header{
    background: gray;
    padding: 20px 0;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 130px;
    right: 142px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav a{
    display: inline;
    margin-right: 19px;   
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.titulo-principal {
    padding-left: 20px;
}

#banner{
    width: 95%;
    margin: 5% 2% 5% 2%;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: white;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.benefImg{
    width:50%;
}

footer{
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}